
.title,
.details-container,
.details-text p,
.star,
.details-text {
  background-color: rgb(44, 44, 44);
  position: relative;
}

.details-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  margin: 40px;
  width: 60%;
  margin-left: 300px;
}

.imgDetails {
  margin-right: 40px;
}

.imgDetails img {
  width: 150%;
  height: auto;
  border-radius: 5px;
}

.details-text {
  flex: 0.9;
  max-width: 80%;
  justify-content: center; 
  margin-left: 100px;
}

.details-text p {
  color: #fff;
}

.Back-to-home {
  margin-top: 5px;
  margin-left: 260px;
}

.star-container {
  background-color: transparent;
  display: flex; 
}

.star {
  font-size: 1.5rem;
  margin-right: 3px;
}

.filled {
  color: gold;
}

.empty {
  color: transparent;
  border: 1px solid white; 
}
