.title,
.details-container,
.details-text p,
.details-text {
  background-color: rgb(44, 44, 44);
}


.details-container {
  display: flex;
  align-items: center;
  margin: 100px;
}

.imgDetails {
  margin-right: 20px;
}

.imgDetails img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.details-text {
  flex: 0.9;
  max-width: 90%;
  justify-content: center;
}

.details-text p {
  color: #fff;
}

.Back-to-home {
  margin-top: 20px;
}
