<a routerLink="/">
  <img class="Back-to-home" src="assets/Back Arrow.png" alt="Back-to-home">
</a>

<main class="details-container">
  <div class="imgDetails">
    <img src="https://image.tmdb.org/t/p/w200/{{ movieDetails.poster_path }}" alt="movieDetails-poster">
  </div>

  <div *ngIf="movieDetails" class="details-text">
    <h2 class="title">{{ movieDetails.title }}</h2>
    <p>Lançamento: {{ movieDetails.release_date | date: 'yyyy' }}</p>
    <p>Sinopse: {{ movieDetails.overview }}</p>
    <!--<p>Nota: {{ movieDetails.vote_average }}</p>-->
    <div class="star-container">
      <span *ngFor="let star of getStarArray(movieDetails.vote_average)" class="star" [ngClass]="{'filled': star !== -1}">&#9733;</span>
    </div>
    
  </div>
</main>
