
.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin: 50px;
}


.movie-item {
    width: 18%; 
    margin-bottom: 20px; 
    box-sizing: border-box; 
}

#movie-poster {
    width: 100%; 
    height: auto;
    border-radius: 5px;
}    


#movie-title {
    margin-top: 10px; 
}


.movie-info a {
    text-decoration: none; 
    color: #ff0000; 
}

.movie-info a:hover {
    font-size: 20px;
    color: #ff0000;
}


.movie-item p {
    margin-top: 5px; 
}
#movie-poster:hover{
  border: 2px solid red;
  opacity: 0.8;
}