body, html {
    height: 100%;
    margin: 0;
  }
  
  .main-footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    left: 0;
  }
  
  .footer-link {
    display: inline-block;
    text-decoration: none;
  }
  
  .github-icon {
    width: 30px; 
    height: auto; 
    vertical-align: middle;
    margin-right: 10px;
  }
  .linkedin-icon {
    width: 40px; 
    height: auto; 
    vertical-align: middle;
    margin-right: 10px;
  }
  