<div class="top-content" *ngIf="genres">
  <select class="select-content" #filter (change)="getSelectedGener($event)">
    <option value="0"disabled selected>Selecionar gênero</option>
    <option *ngFor="let genre of genres" [value]= "genre.id">{{ genre.name }}</option>
  </select>

  <select class="select-content"  #order (change)="getSelectedOrder($event)">
    <option value="" disabled selected>Selecionar ordenação</option>
    <option *ngFor="let order of orderList"  [value]= "order.order">{{ order.name }}</option>
  </select>    

  <form class="d-flex">
    <input class="form-control me-2" #search (change)="getSearch($event)" type="search" placeholder="Search" aria-label="Search">
    <button (click)="onSearchButtonClick()" class= "btn btn-outline-success" type="button">Buscar</button>
  </form>
  <button (click)="clear()" class="btn btn-outline-success" type="button">Limpar Buscas</button>
</div>