<section id="top-content-container">
    <div id="filter-container">
      <select id="filter-genre">
        <option value="">Gênero</option>
      </select>
      <select id="order">
        <option value="">Ordenar por</option>
      </select>
    </div>
    <div id="search-container">
      <section id="search">
        <form class="d-flex">
          <input class="form-control" type="search" placeholder="Pesquisa">
          <button class="btn btn-outline-success" type="submit">
            <img src="assets/Search.png" alt="Buscar">
          </button>
          
        </form>
      </section>
    </div>
  </section>
