#top-content-container {
    border: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px;
  }
  
  #filter-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
  }
  
  #filter-genre,
  #form-control,
  #search,
  #order {
    width: 30%;
    font-size: 1rem;
    font-weight: 600; 
    color: white;
    background-color:transparent;
    margin-top: 3rem;
    border-radius: 7px;
    padding: 0.2rem;
    border-color: white;
  }
  
  #search-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    border: white;
    border-radius: 7px;
  }
  
  #search {
    width: 50%;
    margin-top: 3rem;
    border: white;
    border-radius: 7px;
  }
  
  .form-control::placeholder {
    border: white;
    color: white;
    border-radius: 7px;
  }
  
  .btn-outline-success {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color:transparent;
    border: white;
    
  }