
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0; 
  text-align: center; 
}


.page-link {
  padding: 0.5rem 1rem; 
  margin: 0 0.2rem; 
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none; 
  color:white;
}


.page-link.current {
  background-color: transparent
}

.page-item {
  list-style: none;
}

.page-link.selected-page {
  color: #ff1e00; 
  background-color: #fff; 
  border-radius: 10px;
}


